

.googleImg {
    height: 200px;   
    text-align: center;
    padding-top: 60px;
   }
   .firstDiv{
   height: 160px;
   background-color: rgb(224, 228, 228);
   text-align: center;
   }
   .secondDiv{
       height: 150px;
       text-align: center;
      
   }
   
   .thirdDiv{
       height:80px;
       text-align: center;
      
   }
   .nav {
       width: 490px;
       height: 100px;
       float: left;
       margin-right: 10px;
       background-color: aquamarine;
   
   }
   .getGoogle {
       width: 500px;
       height: 100px;
       float: left;
       background-color: aquamarine;
   
   }